html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.menu {
    overflow: hidden;
    /*background-color: #333;*/
    /*position: fixed;*/ /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    position: sticky;
    z-index: 9999;
}

.titulo {
    color:white;
    font-size: 4rem;
}

.titulo-destaque {
    color: red !important;
    font-size: 6rem;
    font-weight: 600;
}

section {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
}

    section h1 {
        display: table-cell;
        vertical-align: middle;
        color: #424242;
        font-size: 50px;
    }

    section#conteudo1 {
        background: #58beff;
    }

    section#conteudo2 {
        background: #fd8686;
    }

    section#conteudo3 {
        background: #acc8a7;
    }

    section#conteudo4 {
        background: #ffc741;
    }

.img-item-service {
    align-self: center;
    height: 200px;
    max-width: 200px;
}

.img-carrossel {
    height: max-content;
    max-width: 100px !important;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}