@{
    ViewData["Title"] = "Home Page";
}

<section class="vh-100" id="conteudo1">
    <h1>Conteúdo 1</h1>
</section>
<section class="d-flex justify-content-center vh-100" id="section-primeiro" style="background-color: black;">
    <div class="row container">
        <div class="col-lg-6 align-content-center text-end">
            <div class="titulo">
                Nós utilizamos
            </div>
            <div class="titulo-destaque">
                TECNOLOGIA
            </div>
            <div class="titulo">
                para
                <span class="titulo-destaque">
                    DECOLAR

                </span>
            </div>
            <div class="titulo">
                seu negócio
            </div>

        </div>
        <div class="col-lg-6 align-content-center">
            <img src="https://ironbug.com.br/images/banner/rocket.svg" />
        </div>
    </div>
</section>

<section class="vh-100" id="conteudo2">
    <h1>Conteúdo 2</h1>
</section>
<section class="container" id="section-meio">
    <div class="justify-content-center d-flex mt-4">
        <h2 class="fw-bold">Nossos Serviços</h2>
    </div>
    <div class="row">
        <div class="col-lg-6 align-content-center">
            <img src="https://ironbug.com.br/images/services/custom-systems.svg" class="img-item-service" />
            <div class="text-start">
                <h3 class="fw-bold">Sistemas Personalizados</h3>
                <p style="font-size: 1.2rem;">Desenvolvemos projetos personalizados para atender com precisão os processos específicos da sua empresa.</p>
            </div>
        </div>
        <div class="col-lg-6 align-content-center">
            <img src="https://ironbug.com.br/images/services/mobile.svg" class="img-item-service" />
            <div class="text-start">
                <h3 class="fw-bold">Aplicativos</h3>
                <p style="font-size: 1.2rem;">Ajudando a trasformar seus sonhos em soluções corporativas e competitivas no mercado.</p>
            </div>
        </div>
    </div>

</section>

<section class="vh-100" id="conteudo3">
    <h1>Conteúdo 3</h1>
</section>
<section class="d-flex justify-content-center vh-100" id="section-ultimo" style="background-color: yellow;">
    <div class="row container">
        <div class="col-lg-6 align-content-center text-end">
            <div class="titulo">
                Nós utilizamos
            </div>
            <div class="titulo-destaque">
                TECNOLOGIA
            </div>
            <div class="titulo">
                para
                <span class="titulo-destaque">
                    DECOLAR

                </span>
            </div>
            <div class="titulo">
                seu negócio
            </div>

        </div>
        <div class="col-lg-6 align-content-center">
            <img src="https://ironbug.com.br/images/banner/rocket.svg" />
        </div>
    </div>
</section>
<section class="vh-100" id="conteudo4">
    <h1>Conteúdo 4</h1>
</section>