@{
    ViewData["Title"] = "Home Page";
}

<div class="d-flex justify-content-center" style="background-color: black;">
    <div class="row container">
        <div class="col-6 align-content-center text-end">
                <div class="titulo">
                    Nós utilizamos
                </div>
                <div class="titulo-destaque">
                    TECNOLOGIA
                </div>
                <div class="titulo">
                    para
                    <span class="titulo-destaque">
                        DECOLAR

                    </span>
                </div>
                <div class="titulo">
                    seu negócio
                </div>

        </div>
        <div class="col-6">
            <img src="https://ironbug.com.br/images/banner/rocket.svg" />
        </div>
    </div>
</div>

