@{
    ViewData["Title"] = "Home Page";
}

<div class="d-grid gap-3">
    <div class="col-lg-7 col-xl-6 align-self-center pb-lg-4">
        <h1 class="lh-2">Embed a blog into your site in only 3 minutes.<br>No WordPress needed.</h1>
        <p class="lead-1 mt-5 mb-7">Maximize your SEO, grow your audience, and keep your own design — a better blog without compromise.</p>
        <p class="gap-xy">
            <a class="btn btn-round btn-success mw-250 btn-xl" href="https://app.dropinblog.com/register?plan=6">Try it for Free</a>
            <a class="btn btn-round btn-label btn-lg btn-white mw-200" href="https://vimeo.com/248082632" data-provide="lightbox">Watch Video <label><i class="fa fa-play"></i></label></a>
        </p>
    </div>
    <div class="col-md-10 col-lg-5 col-xl-6 mx-auto mt-7 mt-lg-0">
        @*         <div class="video-btn-wrapper">
        <a href="https://player.vimeo.com/video/248082632" data-provide="lightbox">
        <img src="/assets/img/admin-video.png" alt="" class="imgframe my-0">
        <span class="btn btn-circle btn-xl btn-dark">
        <i class="fa fa-play lead-5">
        </i>
        </span>
        </a>
        </div> *@
        <div class="ratio ratio-16x9">
            <iframe src="https://www.youtube.com/embed/zpOULjyy-n8?rel=0" title="YouTube video" allowfullscreen></iframe>
        </div>
    </div>
    <div class="row m-0 my-6 mx-lg-9 gap-y">
        <div class="col-6 col-md-3"><a href="https://www.facebook.com/dropinblog/reviews" rel="nofollow" target="_blank"><img src="/assets/img/rating-facebook.png" width="199" height="58"></a></div>
        <div class="col-6 col-md-3"><a href="https://www.producthunt.com/products/dropinblog-for-shopify" rel="nofollow" target="_blank"><img src="/assets/img/rating-producthunt.png" width="199" height="58"></a></div>
        <div class="col-6 col-md-3"><a href="https://www.bigcommerce.com/apps/dropinblog/" rel="nofollow" target="_blank"><img src="/assets/img/rating-bigcommerce.png" width="199" height="58"></a></div>
        <div class="col-6 col-md-3"><a href="https://apps.shopify.com/dropinblog-seo-friendly-blog/reviews" rel="nofollow" target="_blank"><img src="/assets/img/rating-shopify.png" width="199" height="58"></a></div>
    </div>
    @*     <div class="col-12 text-center mb-6 mt-7 mt-lg-0 d-none d-sm-block">
    <a class="scroll-down-1" href="#scroll-to"><span></span></a>
    </div> *@
</div>
